.option {
    display: block;
    margin-bottom: 0.25em;
}

.check {
    padding: 1.2em; /*прикол з відступом*/
}

.check__input {
    position: absolute;
    appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none; /*:D*/
}

.ckeck__box {
    position: absolute;
    margin-left: -1.2em; /* прикол з відступом*/
    width: 1em;
    height: 1em;
    background-color: tomato;/*img for checkbox*/
}

.check__input:checked + .check__box {
    background-image: /*картинка для чекд бокса*/;
}

.check__input:focus + .check__box {
    background-image: /*картинка, коли він в фокусі*/;
}

.check__input:checked:focus + .check__box {
    background-image: /*картинка, коли він заччеканий і в фокусі*/;
}

.check__input:disabled + .check__box {
    background-image: /*картинка, коли він дісейбл*/;
}

.check__input:checked:disabled + .check__box {
    background-image: /*картинка, коли він заччеканий і дісейбл*/;
}